{% extends "base.html.twig" %}

{% block title %}404 URL Not Found{% endblock %}
{% block h1_header %}Oops! That URL Wasn't Found{% endblock %}

{% block content %}
    <div class="mt-6 text-2xl text-center">
        Sorry to say it, but that URL isn't available. <a href="/">Want to shorten another?</a>
    </div>
{% endblock %}